<!-- our-works-main page -->
<div class="overlay"></div>

<div class="container our-works-main">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

      <%= render "partials/left-menu" %>

    </div><!-- /.left col -->

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 col-lg-offset-1"><!-- контент -->
      <h1 class="our-works-main__title"><%=@work.title%></h1>
      <div class="our-works-main__main-img_block">
        <img src="<%= @work.image.url %>" alt="" class="our-works-main__main-img">
      </div>
      <div class="our-works-main__content-block">
        <%=@work.text_field.html_safe%>
      </div><!-- конец основного содержимого -->

      <!-- блок стандартного бутстраповского слайдера с картинками после текста -->
      <section class="our-works-main__slider">

        <div id="our-works-main__slider" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#our-works-main__slider" data-slide-to="0" class="active"></li>
            <li data-target="#our-works-main__slider" data-slide-to="1"></li>
            <li data-target="#our-works-main__slider" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active ">
              <div class="our-works-main__slider-item">
                <img src="<%= asset_path('our-works-main/img1.jpg') %>" alt="" class="img-responsive our-works-main__slider-img" data-src="<%= asset_path('our-works-main/img1.jpg') %>">
              </div>
            </div>
            <div class="item">
              <div class="our-works-main__slider-item">
                <img src="<%= asset_path('our-works-main/img2.jpg') %>" alt="" class="img-responsive our-works-main__slider-img" data-src="<%= asset_path('our-works-main/img2.jpg') %>">
              </div>
            </div>
            <div class="item">
              <div class="our-works-main__slider-item">
                <img src="<%= asset_path('our-works-main/img3.jpg') %>" alt="" class="img-responsive our-works-main__slider-img" data-src="<%= asset_path('our-works-main/img3.jpg') %>">
              </div>
            </div>

          </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#our-works-main__slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Следующее</span>
        </a>
        <a class="right carousel-control" href="#our-works-main__slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Предыдущее</span>
        </a>
      </div>

      </section><!-- конец блока слайдера -->

      <!-- блок других проектов, блоки с картинками одинаковые с такими же в оффканвасе -->
      <section class="our-works-main__projects">
        <div class="our-works-main-projects__title-block">
          <h3 class="our-works-main-projects__title">Другие проекты</h3>
        </div>
        <div class="row">
          <%@else_works.each do |work|%>
            <div class="col-sm-6 col-md-4">
              <%=link_to work_path(work), class:'our-works-main-projects__item' do%>
                <img src="<%=work.image.url%>" alt="Изображение дизайн проекта" class="our-works-main-projects__item_img">
              <%end%>
            </div>
          <%end%>
        </div><!-- /.row -->
        <div class="our-works-main-projects__anchor-block text-center">
          <%=link_to 'Смотреть все работы', works_path%>
        </div>
      </section><!-- /.our-works-main-projects -->


    </div><!-- /.right col -->
  </div><!-- /.row -->
</div><!-- /.container -->
