<!-- our-works-main page -->
<div class="overlay"></div>

<div class="container our-works-main">
  <div class="row">

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">

      <%= render "partials/left-menu" %>

    </div><!-- /.left col -->

    <div class="col-xs-6 col-sm-8 col-md-9 col-lg-8 col-lg-offset-1"><!-- контент -->
      <h1 class="our-works-main__title"><%=@work.title%></h1>
      <div class="our-works-main__main-img_block">
        <img src="<%= asset_path('our-works-main/main-img.jpg') %>" alt="" class="our-works-main__main-img">
      </div>
      <div class="our-works-main__content-block">
        <%=@work.text_field.html_safe%>
      </div><!-- конец основного содержимого -->

      <!-- блок других проектов, блоки с картинками одинаковые с такими же в оффканвасе -->
      <section class="our-works-main__projects">
        <div class="our-works-main-projects__title-block">
          <h3 class="our-works-main-projects__title">Другие проекты</h3>
        </div>
        <div class="row">
          <%@else_works.each do |work|%>
            <div class="col-sm-6 col-md-4">
              <%=link_to work_path(work), class:'our-works-main-projects__item' do%>
                <img src="<%= asset_path('home/big-card1.jpg') %>" alt="Изображение дизайн проекта" class="our-works-main-projects__item_img">
              <%end%>
            </div>
          <%end%>
        </div><!-- /.row -->
        <div class="our-works-main-projects__anchor-block text-center">
          <%=link_to 'Смотреть все работы', works_path%>
        </div>
      </section><!-- /.our-works-main-projects -->


    </div><!-- /.right col -->
  </div><!-- /.row -->
</div><!-- /.container -->
