<!-- modal popup with form  to ask questions -->
<div class="modal fade form-ask__modal" tabindex="-1" role="dialog" id="form-ask">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title form-ask__title">Задать вопрос</h4>
      </div>

      <div class="modal-body">
          <div class="errors"></div>
          <%= form_for(Question.new, url: questions_path, remote: true) do |f| %>
            <div class="form-group">
              <%= f.text_field :name, placeholder: "Ваше имя", class:"form-control ask-form__input ask-form__name" %>
            </div>
            <div class="form-group">
              <%= f.telephone_field :phone, placeholder: "Ваш телефон", class:"form-control ask-form__input ask-form__phone"%>
            </div>
            <div class="form-group">
               <%= f.text_area :message, placeholder: "Введите ваше сообщение (также вы можете оставить свой номер телефона, мы перезвоним Вам и ответим на все интересущие вопросы)", rows: 3, class:"form-control ask-form__input ask-form__message" %>
            </div>
            <div class="text-center ask-form__button-block">
               <%= f.submit "Отправить", class: 'btn btn__grey-bg btn__grey-bg_normal ask-form__button' %>
            </div>
          <%end%>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
