<div class="left-menu__outer">
	<div class="logo__wrapper">
		<a href="/" class="logo" title="На главную">
			<div class="logo__title">MAGMASTER.BY</div>
			<div class="logo__description">лучшая грифельная краска и услуги по нанесению</div>
		</a>
	</div>
	<div class="left-menu">
		<h2 class="left-menu__title">Каталог</h2>
		<ul class="list-unstyled left-menu__list">
			<% @category_products_menu = CategoryProduct.where(show_menu: true).order('priority') %>
			<%@category_products_menu.each do |category|%>
				<li class="left-menu__item <%='left-menu__item_active' if @category_product == category%>">
					<%=link_to category.title, category_product_path(category), class:'left-menu__a'%>
				</li>
			<%end%>
		</ul>
	</div>

	<div class="recent hidden-xs"><!-- блок недавних, не виден на телефонах, добавить в конец баннер-->
		<%if @recent_products %>
			<h3 class="recent__title">Вы недавно смотрели:</h3>
		<!-- old hor. card catalog -->
			<% @recent_products.each do |product| %>
				<%=link_to product_path(product) do %>
					<div class="hcard-flex hcard-catalog">
					  <div class="hcard-flex__img-block">
					  	<% main_image ||= product.product_images.main.first || product.product_images.first%>
					      <img class="hcard-flex__img" src="<%=main_image.image.url %>" alt="<%=product.title%>">
					      <div class="card__type card__type_marker" style="background-image:url(<%=product.mini_image.url%>);"></div>
					  </div>
					  <div class="hcard-flex__text-block">
							<div class="hcard-flex__text">
								<%=product.title%>
							</div>
							<div class="hcard-flex__price_block">
								<!-- добавил дисконтную цену -->
								<% if product.price2%>
									<div class="hcard-flex__price_discount"><%=product.price2%> руб</div>
								<%end%>
								<% if product.price%>
									<div class="hcard-flex__price"><%=product.price%> руб</div>
								<%end%>
							</div>
					  </div>
					</div>
				<%end%>
			<%end%>
		<%end%>


	</div>
</div>
