<div class="left-menu__outer">
	<div class="logo__wrapper">
		<a href="/" class="logo" title="На главную">
			<div class="logo__title">MAGMASTER.BY</div>
			<div class="logo__description">лучшая грифельная краска и услуги по нанесению</div>
		</a>
	</div>
	<div class="left-menu">
		<h2 class="left-menu__title">Каталог</h2>
		<ul class="list-unstyled left-menu__list">
			<%@category_products_menu.each do |category|%>
				<li class="left-menu__item <%='left-menu__item_active' if @category_product == category%>">
					<%=link_to category.title, category_product_path(category), class:'left-menu__a'%>
				</li>
			<%end%>
		</ul>
	</div>
	<div class="recent">
		<h3 class="recent__title">Вы недавно смотрели:</h3>

		<!-- old hor car catalog -->
<!-- 	<a href="#" class="horizontal-card__a">
			<div class="media horizontal-card">
			  <div class="media-left media-middle horizontal-card__left">
			      <img class="media-object horizontal-card__img" src="{{root}}assets/img/product/pot2.jpg" alt="product1">
			      <div class="card__type card__type_magnet"></div>
			  </div>
			  <div class="media-body horizontal-card__right">
					<div class="horizontal-card__description">
						Грифельная краска с эффектом школьной доски Siberia колеруемая
					</div>
					<div class="horizontal-card__price">115 руб</div>
			  </div>
			</div>
		</a> -->
		<a href="#" class="horizontal-card__a">
			<div class="hcard-flex hcard-catalog">
			  <div class="hcard-flex__img-block">
			      <img class="hcard-flex__img" src="<%= asset_path('product/pot2.jpg') %>" alt="product1">
			      <div class="card__type card__type_marker"></div>
			  </div>
			  <div class="hcard-flex__text-block">
					<div class="hcard-flex__text">
						Грифельная краска с эффектом школьной доски Siberia колеруемая
					</div>
					<div class="hcard-flex__price">115 руб</div>
			  </div>
			</div>
		</a>
		<a href="#" class="horizontal-card__a">
			<div class="hcard-flex hcard-catalog">
			  <div class="hcard-flex__img-block">
			      <img class="hcard-flex__img" src="<%= asset_path('product/pot2') %>" alt="product1">
			      <div class="card__type card__type_marker"></div>
			  </div>
			  <div class="hcard-flex__text-block">
					<div class="hcard-flex__text">
						Грифельная краска с эффектом школьной доски Siberia колеруемая
					</div>
					<div class="hcard-flex__price">115 руб</div>
			  </div>
			</div>
		</a>
		<a href="#" class="horizontal-card__a">
			<div class="hcard-flex hcard-catalog">
			  <div class="hcard-flex__img-block">
			      <img class="hcard-flex__img" src="<%= asset_path('product/pot2.jpg') %>" alt="product1">
			      <div class="card__type card__type_marker"></div>
			  </div>
			  <div class="hcard-flex__text-block">
					<div class="hcard-flex__text">
						Грифельная краска с эффектом школьной доски Siberia колеруемая
					</div>
					<div class="hcard-flex__price">115 руб</div>
			  </div>
			</div>
		</a>
		<a href="#" class="horizontal-card__a">
			<div class="hcard-flex hcard-catalog">
			  <div class="hcard-flex__img-block">
			      <img class="hcard-flex__img" src="<%= asset_path('product/pot2.jpg') %>" alt="product1">
			      <div class="card__type card__type_marker"></div>
			  </div>
			  <div class="hcard-flex__text-block">
					<div class="hcard-flex__text">
						Грифельная краска с эффектом школьной доски Siberia колеруемая
					</div>
					<div class="hcard-flex__price">115 руб</div>
			  </div>
			</div>
		</a>

	</div>
</div>
