<nav class="navbar navbar-fixed-top main-menu">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="offcanvas__toggle-button"><!-- кнопка бокового меню -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="glyphicon glyphicon-menu-left offcanvas__toggle-button_back" ></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse main-menu__navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav main-menu__anchors">
        <li class="active"><%=link_to 'Главная', root_path%></li>
        <li><%=link_to 'Каталог', products_path %></li>
        <%if @services %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Услуги <span class="caret"></span></a>
            <ul class="dropdown-menu main-menu__dropdown-menu">
              <% @services.each do |page| %>
                <li><%=link_to page.title, page_path(page) %></li>
              <%end%>
            </ul>
          </li>
        <%end%>

        <% if @static_pages%>
          <% @static_pages.each do |page| %>
            <li><%=link_to page.title, page_path(page)%></li>
          <%end%>
        <%end%>
        <!-- <li><a href="#">Вопрос-ответ</a></li> -->
        <%#=link_to 'Дизайнерам', to_designers_path %>
        <%#=link_to 'Доставка и оплата', delivery_path%>
        <li><%=link_to 'Наши работы', works_path %></li>
        <li><%=link_to 'Контакты', contacts_path%></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <!-- блок телефона справа -->
    <div class="navbar-right main-menu__phones">
  	  <a  href="tel:+375296276273" class="main-menu__phone">+375 29 627 627 3</a>
      <div class="main-menu__phones_phone-icon  phone-icon__velcom"></div>
      <div class="main-menu__phones_phone-icon  phone-icon__telegram"></div>
  	  <div class="main-menu__phones_phone-icon  phone-icon__viber"></div>
  	  <div class="main-menu__phones_phone-icon  phone-icon__whatsapp"></div>
    </div>

  </div><!-- /.container-fluid -->
</nav>

