<!-- выезжающее меню -->
<div id="sidr" class="offcanvas" ><!-- style="display: none" -->
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-9">
				<div class="offcanvas-menu">
					<div class="row">
						<div class="col-md-4 offcanvas-menu__logo-block">
							<a href="/" class="logo logo_offcanvas" title="На главную">
								<div class="logo__title">MAGMASTER.BY</div>
								<div class="logo__description">декоративная краска и услуги по нанесению</div>
							</a>
						</div>
						<div class="col-md-8">
							<ul class="list-inline offcanvas-menu__list">
							  <li><%=link_to "О компании", about_path, class:"offcanvas-menu__a" %></li>
							  <li><%=link_to "Сертификаты", certificates_path, class:"offcanvas-menu__a" %></li>
							  <li><%=link_to "Обратная связь", contacts_path, class:"offcanvas-menu__a" %></li>
							</ul>
						</div>
					</div><!-- /.row -->
				</div><!-- ./offcanvas-menu -->

				<section class="offcanvas-choice">
					<h3 class="offcanvas-choice__title">Выбор покупателей</h3>
					<div class="row">
						<% product1 = Product.find_by(id: 3) %>
						<% if product1 %>
							<div class="col-sm-6 col-md-6">
								<%=link_to product_path(product1), class:'horizontal-card__a' do%>
									<div class="media horizontal-card offcanvas__hcard">
									  <div class="media-left media-middle horizontal-card__left">
									  		<% d_main_image ||= product1.product_images.main.first || product1.product_images.first%>
									      <img class="media-object horizontal-card__img" src="<%=d_main_image.image.url %>" alt="product1">
									      <div class="card__type card__type_chalk" style="background-image:url(<%=product1.mini_image.url%>);"></div>
									  </div>
									  <div class="media-body horizontal-card__right">
											<div class="horizontal-card__description">
												<%=product1.title%>
											</div>
											<div class="horizontal-card__price"><%=product1.price%> руб</div>
									  </div>
									</div>
								<%end%>
							</div>
						<%end%>
						<% product2 = Product.find_by(id: 32) %>
						<% if product2 %>
							<div class="col-sm-6 col-md-6">
								<%=link_to product_path(product2), class:'horizontal-card__a' do%>
									<div class="media horizontal-card offcanvas__hcard">
									  <div class="media-left media-middle horizontal-card__left">
									  		<% d_main_image ||= product2.product_images.main.first || product2.product_images.first%>
									      <img class="media-object horizontal-card__img" src="<%=d_main_image.image.url %>" alt="product1">
									      <div class="card__type card__type_chalk" style="background-image:url(<%=product2.mini_image.url%>);"></div>
									  </div>
									  <div class="media-body horizontal-card__right">
											<div class="horizontal-card__description">
												<%=product2.title%>
											</div>
											<div class="horizontal-card__price"><%=product2.price%> руб</div>
									  </div>
									</div>
								<%end%>
							</div>
						<%end%>
					</div><!-- /.row -->
				</section><!-- /.offcanvas-choice -->


				<section class="offcanvas-projects">
					<h3 class="offcanvas-projects__title">Лучшие дизайн проекты этого сезона</h3>
					<div class="row">
						<% bests_works = Work.where(show_menu: true).limit(3)%>
						<% bests_works.each do |work| %>
							<div class="col-sm-6 col-md-4">
								<%=link_to work_path(work), class:'offcanvas-projects__item' do %>
									<img src="<%= work.image.url %>" alt="Изображение дизайн проекта" class="offcanvas-projects__item_img">
								<%end%>
							</div>
						<%end%>
					</div><!-- /.row -->
				</section><!-- /.offcanvas-projects -->

				<section class="offcanvas-contacts">
					<div class="row">
						<div class="col-sm-6 col-md-6 text-left">
							<span class="glyphicon glyphicon-map-marker"></span>
							<span class="offcanvas-contacts__address">г. Минск</span>
						</div>
						<div class="col-sm-6 col-md-6 text-right">
							<span class="glyphicon glyphicon-envelope"></span>
							<span class="offcanvas-contacts__email">info@magmaster.by</span>
						</div>
					</div><!-- /.row -->
				</section><!-- /.offcanvas-contacts -->




			</div><!-- /.left col -->
			<div class="col-sm-2 col-md-3 offcanvas__right-col">
				<div class="offcanvas-catalog__title">Каталог</div>
				<ul class="list-unstyled offcanvas-catalog__ul">
					<% all_category_products = CategoryProduct.where(show_menu: true).order('priority') %>
					<% all_category_products.each do |category| %>
						<li class="offcanvas-catalog__li">
							<%=link_to category.title, category_product_path(category), class:'offcanvas-catalog__a' %>
						</li>
					<%end%>
				</ul>
			</div><!-- /right col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.offcanvas -->
