<div class="overlay"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="container about">
  <div class="row"><!-- description -->
    <div class="col-xs-12 col-sm-5 col-md-3">
    	<div class="about__logo-block">
			<a href="/" class="logo" title="На главную">
				<div class="logo__title">MAGMASTER.BY</div>
				<div class="logo__description">декоративная краска и услуги по нанесению</div>
			</a>
		</div>
    </div>
    <div class="col-md-6">
    	<h1 class="about__title">О компании</h1>
    	<div class="about__text">
    		<%=@block_texts.main_text.html_safe if @block_texts && @block_texts.main_text%>
    		<!-- <p>Компания MAGMASTER специализируется на работе с уникальными материалами и функциональными покрытиями. Мы предлагаем краски, и грунтовки, которые не просто изменят Ваш интерьер, но и привнесут элемент творчества.</p>
    		<p>Специалиста компании MAGMASTER обладают большим опытом в нанесении такого рода покрытий и постоянно совершенствуют свои навыки. Они проконсультируют и помогут нанести Вам любой из предлагаемых на сайте материалов с гарантией качества конечного результата.</p>
    		<p>Мы сами выбираем товар, который предлагаем. Предварительно тестируем его. И только потом предлагаем Вам варианты использования и нанесения.</p>
    		<p>Наша главная задача – довольный клиент.</p>
    		<p>Больше информации о наших работах и проектах Вы можете найти в других разделах на сайте компании.</p> -->
    	</div>
    </div>
   </div><!-- /.row -->
</div><!-- /.container -->

<!-- блок слайдер с производителями (как на главной снизу) -->
<section class="brands about__brands">
	<div class="brands__title-block">
		<h2 class="brands__title">Производители</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="owl-carousel brands__carousel">
					<% @manufacturers.each do |manufacturer| %>
						<div class="brands__item" style="background-image:url(<%=manufacturer.image.url%>) ">
							<%if manufacturer.link && manufacturer.link.present?%>
			          <%=link_to "", manufacturer.link, style:'display:block; width:100%; height: 100%', target: :_blank %>
			        <%end%>
						</div>
					<%end%>
				</div><!-- /.brands carousel -->

			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="brands__dots-block text-center">
		<div class="brands__dots"></div>
	</div>
</section><!-- /.brands -->


<!-- блок описания преимуществ, на каждом .about-item разный фон -->
<section class="about__items">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_1">
					<%=@block_texts.block1.html_safe if @block_texts && @block_texts.block1%>
					<!-- <h2 class="about-item__title">Низкие цены</h2>
					<div class="about-item__text">Одна из наших задач – сделать качество доступным. Мы стараемся сохранить выгодные цены на все предлагаемые продукты и услуги.</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_2">
					<%=@block_texts.block2.html_safe if @block_texts && @block_texts.block2%>
					<!-- <h2 class="about-item__title">Проверенное качество</h2>
					<div class="about-item__text">Все материалы, которые мы предлагаем, имеют сертификат качества. Помимо этого мы самостоятельно тестируем каждый продукт, перед тем, как поставить его на рынок.</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_3">
					<%=@block_texts.block3.html_safe if @block_texts && @block_texts.block3%>
					<!-- <h2 class="about-item__title">Удобная доставка</h2>
					<div class="about-item__text">Мы осуществляем доставку курьером «до двери» в любой город Республики Беларусь.</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_4">
					<%=@block_texts.block4.html_safe if @block_texts && @block_texts.block4%>
					<!-- <h2 class="about-item__title">Помощь в нанесении</h2>
					<div class="about-item__text">Вы можете получить профессиональную консультацию по нанесению и использованию покрытия по телефону или по электронной почте. Кроме этого в компании MAGMASTER Вы также можете заказать услуги по нанесению покрытий.</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_5">
					<%=@block_texts.block5.html_safe if @block_texts && @block_texts.block5%>
					<!-- <h2 class="about-item__title">Реальные проекты</h2>
					<div class="about-item__text"> В рубрике «Наши работы» на сайте Вы можете найти проекты, которые мы уже воплотили в жизнь.</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_6">
					<%=@block_texts.block6.html_safe if @block_texts && @block_texts.block6%>
					<!-- <h2 class="about-item__title">Эксклюзивные товары</h2>
					<div class="about-item__text">Некоторые материалы Вы сможете найти только у нас. По выгодной цене. И на хороших условиях.</div> -->
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.about__items -->
