<% title 'Декоративная краска с нанесением в Минске и Беларуси.' %>

<!-- фоновый слайдер-скроллер-затемнятель-паралаксер -->
<div class="slider-bg__wrapper" data-parallax="background" data-opacity="background">
	<div class="container-fluid reset-paddings">
		<div class="row reset-margins">
			<div class="col-xs-12 reset-paddings">
				<div class="slider-bg owl-carousel">
					<%@sliders.each do |slider|%>
						<div class="slider-bg__item">
							<div class="slider-bg__img-block slider-bg__img_1" style="background-image:url(<%=slider.image.url%>);"></div>
						</div>
					<%end%>

				</div><!-- /.back slider	 -->
			</div>
		</div>
	</div>
</div><!-- /.back slider block -->

<!-- блок ссылок над лого -->
<section class="content-block header-anchors">
	<div class="container-fluid">
		<div class="row header-anchors__row">
			<div class="col-xs-12">
				<% if user_signed_in? %>
				    <span>Здравствуйте, <%= current_user.email %></span>
				    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-6 header-anchors__col">
				<a href="/page/nanesenie-kraski" class="header-anchors__a">
					<div class="header-anchors__title">Помощь в нанесении</div>
					<div class="header-anchors__small-text">Как мы работаем</div>
				</a>

				<a href="/certificates" class="header-anchors__a">
					<div class="header-anchors__title">Гарантия качества</div>
					<div class="header-anchors__small-text">Сертификаты</div>
				</a>

				<a href="/page/dostavka" class="header-anchors__a">
					<div class="header-anchors__title">Бесплатная доставка</div>
					<div class="header-anchors__small-text">Доставка и оплата</div>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- лого и кнопка -->
<section class="content-block logo-block">
	<div class="logo__wrapper">
		<a href="/products" class="logo logo_big" title="На главную">
			<div class="logo__title">MAGMASTER.BY</div>
			<div class="logo__description">
				<%= @block_texts.logo_description %>
			</div>
		</a>
	</div>
	<!-- <a class="btn btn__grey-bg btn__constructor" href="#">Конструктор</a> -->
</section>

<!-- строчка с управлением слайдером -->
<section class="content-block dots-block">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="back-slider__dots">

				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-6">
				<a href="#profit" class="dots-block__anchor">Выгодные предложения</a>
			</div>
		</div>
	</div>
</section>


<!-- блок с тремя большими блоками -->
<section class="content-block big-cards">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="big-card big-card_1"><!-- card1 -->
					<div class="big-card__title text-center">В офис</div>
					<div class="big-card__img-block">
						<img src="<%= asset_path('home/big-card1.jpg') %>" alt="В офис" class="big-card__img">
					</div>
					<div class="big-card__content">
						<%=@block_texts.block1.html_safe if @block_texts && @block_texts.block1%>
					</div>
					<div class="big-card__buttons">
							<%=link_to 'Каталог', category_product_path(id:1), class:"btn btn__grey-bg big-card__button_catalog" %>
							<%=link_to 'Наши работы', work_path(id:7), class:"btn btn__grey-bg big-card__button_examples" %>
					</div>
				</div><!-- /.card1 -->
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="big-card big-card_2"><!-- card2 -->
					<div class="big-card__title text-center">Для дома</div>
					<div class="big-card__img-block">
						<img src="<%= asset_path('home/big-card2.jpg') %>" alt="В офис" class="big-card__img">
					</div>
					<div class="big-card__content">
						<%=@block_texts.block2.html_safe if @block_texts && @block_texts.block2%>
					</div>
					<div class="big-card__buttons">
							<%=link_to 'Каталог', category_product_path(id:6), class:"btn btn__grey-bg big-card__button_catalog" %>
							<%=link_to 'Наши работы', work_path(id:8), class:"btn btn__grey-bg big-card__button_examples" %>
					</div>
				</div><!-- /.card2 -->
			</div>

			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<div class="big-card big-card_3"><!-- card3 -->
					<div class="big-card__title text-center">Для обучения</div>
					<div class="big-card__img-block">
						<img src="<%= asset_path('home/big-card3.jpg') %>" alt="В офис" class="big-card__img">
					</div>
					<div class="big-card__content">
						<%=@block_texts.block3.html_safe if @block_texts && @block_texts.block3%>
					</div>
					<div class="big-card__buttons">
							<%=link_to 'Каталог', products_path, class:"btn btn__grey-bg big-card__button_catalog" %>
							<%=link_to 'Наши работы', work_path(id:9), class:"btn btn__grey-bg big-card__button_examples" %>
					</div>
				</div><!-- /.card3 -->
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.big-cards -->

<!-- блок с самолетом и ссылкой на конструктор -->
<section class="to-constructor content-block">
	<div class="container">
		<div class="row to-constructor__row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-5">
				<%= @block_texts.block_airplane.html_safe %>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-7 col-md-7">
				<div class="to-constructor__airplane">
					<img src="<%= asset_path('home/airplane.png') %>" alt="Конструктор" class="to-constructor__airplane_img">
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- ./to-constructor -->

<!-- блок выгодных предложений -->
<section class="content-block profit" id="profit">
	<div class="profit__title-block">
		<h2 class="profit__title">Выгодные предложения этой недели</h2>
	</div>
	<div class="container">
		<div class="row">
            <%@products_menu.each do |product|%>
            <div class="col-xs-12 col-sm-4 col-md-3">
              <%=link_to product_path(product) do %>
                  <div class="thumbnail vertical-card catalog__card">
                    <div class="vertical-card__img_wrap">
                      <!-- добавить в админке хотя бы одно фото обязательно -->
                      <% main_image ||= product.product_images.main.first || product.product_images.first%>
                      <% hover_image = product.product_images.order("priority").second || product.product_images.first %>
                      <img src="<%=main_image.image.url %>" class="vertical-card__img" alt="ptoduct title">
                      <img src="<%= hover_image.image.url %>" class="vertical-card__img_secondary" alt="">
                  <div class="card__type card__type_chalk" style="background-image:url(<%=product.mini_image.url%>);">
                  </div>
                      </div>
                    <div class="caption">
                      <div class="vertical-card__description">
                        <%=product.title%>
                      </div>
                      <div class="vertical-card__price_block">
                        <%if product.price2%>
                          <div class="vertical-card__price_discount"><%=product.price2%> руб</div>
                        <%end%>
                        <div class="vertical-card__price"><%=product.price%> руб</div>
                      </div>
                    </div>
                  </div>
              <%end%>
            </div>
            <%end%>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.profit -->

<!-- блок отзывов -->
<section class="content-block reviews">

	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="reviews__slider-nav"></div>

				<div class="owl-carousel reviews__carousel">
					<% @reviews.each do |review|%>
					  <div class="reviews__item">
					  	<div class="reviews__top-line">
					  			<div class="reviews__img-block">
					  				<img src="<%= review.logo.url %>" alt="Company logo" class="reviews__img">
					  			</div>
					  			<div class="reviews__title"><%=review.title%></div>
					  	</div>
							<div class="reviews__review"><%=review.text%></div>
					  </div>
					<%end%>
				</div><!-- /.owl-carousel -->

			</div>

		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
	<div class="reviews__bottom-text text-center"><a href="/works">Все наши работы вы можете посмотреть тут</a></div>
</section><!-- /.reviews -->

<!-- блок слайдер с производителями -->
<section class="content-block brands">
	<div class="brands__title-block">
		<h2 class="brands__title">Производители</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="owl-carousel brands__carousel">
					<% @manufacturers.each do |manufacturer| %>
						<div class="brands__item" style="background-image:url(<%=manufacturer.image.url%>) ">
							<%if manufacturer.link && manufacturer.link.present?%>
			          <%=link_to "", manufacturer.link, style:'display:block; width:100%; height: 100%', target: :_blank %>
			        <%end%>
						</div>
					<%end%>
				</div><!-- /.brands carousel -->

			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="brands__dots-block text-center">
		<div class="brands__dots"></div>
	</div>
</section><!-- /.brands -->
