<div class="overlay"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="container our-works-list">
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-3 our-works-list__logo-block">
			<a href="/" class="logo our-works-list__logo" title="На главную">
				<div class="logo__title">MAGMASTER.BY</div>
				<div class="logo__description">лучшая грифельная краска и услуги по нанесению</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-9">
			<h1 class="our-works-list__title">Наши работы</h1>
		</div>
	</div>
	<div class="row our-works-list__row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('home/big-card1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('back-slider/bg1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('back-slider/bg1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('home/big-card1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('back-slider/bg1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="#" class="our-works-list__item_a">
				<div class="our-works-list__item">
					<div class="our-works-list__item_title">Пиратская детская</div>
					<img src="<%= asset_path('back-slider/bg1.jpg') %>" alt="" class="our-works-list__img">
				</div>
			</a>			
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4"></div>
		<div class="col-xs-6 col-sm-6 col-md-4"></div>
		<div class="col-xs-6 col-sm-6 col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="our-works-list__pagination text-right">
				<ul class="custom-pagination">
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				 </ul>
			</div>
		</div>
	</div>
</div>