<!-- Сео поля -->
<% title @product.seo_title %>
<% meta_tag :title, @product.seo_title %>
<% meta_tag :description, @product.seo_description %>

<div class="overlay overlay__product"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="product-page__bg"></div>
<div class="product-page">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-4 col-md-3 left-menu__overlay">

			 <%= render "partials/left-menu" %>

			</div><!-- /.left col -->
			<div class="col-xs-12 col-sm-8 col-md-9">
				<!-- добавил лайтбокс, обычная картинка лежит src, та которая откроется во всплывающем окне в data-src -->
				<section class="product-info">
					<div class="row product-info__row">
						<div class="col-xs-12 col-sm-12 col-md-6 product-info__left-col">
							<% main_image ||= @product.product_images.main.first || @product.product_images.first%>
							<div class="product-info__main-img_block">
								<img src="<%= main_image.image.url %>" alt="Краска збс" class="img-responsive product-info__main-img " >
								<div class="product-info__overlay product__lg_item" data-src="<%= main_image.image.url %>">
									<img src="<%= asset_path('certificates/lupa.png') %>" alt="" class="product-info__overlay_img">
								</div>
							</div>
							<div class="product-slider__block"><!-- слайдер маленьких изображений -->
								<div class="product-slider__navigation"></div>
								<div class="owl-carousel product-slider">
									<%@product.product_images.offset(1).each do |product_image|%>
									<div class="product-slider__item">
										<img src="<%=product_image.image.url%>" alt="" class="product-slider__img product__lg_item" data-src="<%=product_image.image.url%>" >
									</div>
									<%end%>
								</div>
							</div><!-- /. product-slider__block -->
						</div><!-- /.product-info left -->
						<div class="col-xs-12 col-sm-12 col-md-6 product-info__right-col">
							<h1 class="product-info__title"><%=@product.title%></h1>
							<!-- варианты для смены картинки - availability_custom, availability_ok, availability_no -->
							<% class_style = 'availability_custom' if @product.status == 'Под заказ'
							 	 class_style = 'availability_ok' if @product.status == 'В наличии'
							   class_style = 'availability_no' if @product.status == 'Нет в наличии' %>
							<div class="product-info__availability <%=class_style%>"><%=@product.status%></div>

							<%= form_tag(select_product_path, method: :post, remote: true, class:"form-horizontal product-info__form") do |f| %>
								<%= hidden_field_tag(:name, "#{@product.title}") %>
								<% if @all_volumes.first && @all_volumes.first[1][0] %>
									<div class="product-info__form-text" onclick="insert_price()">Выберите объём</div>
								  <div class="form-group">
								    <div class="col-md-4 col-lg-5">
											<select name="volume" id="volume" class="form-control product-info__volume" onchange="insert_price()">
													<%@all_volumes.each do |key, value|%>
														<option data-price1="<%=value[0]%>" data-price2="<%=value[1]%>" value="<%=key%>" ><%=key%></option>
													<%end%>
											</select>
											<%= hidden_field_tag(:price1, "#{@all_volumes.first[1][0]}") %>
											<%= hidden_field_tag(:price2, "#{@all_volumes.first[1][1]}") %>
								    </div>
								    <div class="col-md-8 col-lg-7">
								      <div class="product-info__price"><%=@product.price%> руб.</div>
								      <!--Класс discount_price сохранить, т.к. на нем завязан js-->
								      <div class="product-info__price_discount discount_price">
								      	<%if @product.price2%>
								      		<%=@product.price2%> руб.
								      	<%end%>
								      </div>

								    </div>
								  </div><!-- /.строка с объемом и ценой -->
								<%end%>
								  <div class="checkbox product-info__need-painting">
								  	<label>
									  <%=check_box_tag :painting%> Необходимо нанесение
									</label>
								  </div><!-- /.чекбокс -->
								  <a href="/works" class="product-info__to-portfolio">Посмотреть наши работы</a>
								  <% if @product.min_description.present?	%>
								  	<div class="product-info__note"><%=@product.min_description%></div>
									<%end%>
								  <div class="form-group">
									    <div class="col-xs-12 col-sm-6 col-md-5">
									      <div class="input-group product-info__amount_group">
											  <span class="input-group-btn">
											  	 <button class="btn btn-default product-info__amount_control product-info__amount_left" type="button">
											  	 	<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
											  	 </button>
											  </span>

												<input type="text" name="amount" id="amount" class="form-control product-info__amount" value="1" >
											  <%#=number_field_tag :amount, nil, in: 1..20, step: 1, value: 1, class:"form-control product-info__amount", disabled: true %>
											  <span class="input-group-btn"><!-- disabled: true -->
											  	 <button class="btn btn-default product-info__amount_control product-info__amount_right" type="button">
											  	 	<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											  	 </button>
											  </span>
											</div>
									    </div>
									    <div class="col-xs-12 col-sm-6 col-md-7 text-center">
									      <%= submit_tag "Заказать", class: "btn btn__grey-bg btn__product-form"%>
									    </div>
								  </div><!-- /.количество и кнопка заказать -->

							<%end%> <!-- /. форма с данными для заказа -->



						</div><!-- /.product-info right -->
					</div><!-- /.product-info row -->
				</section><!-- /.product-info -->

				<section class="product-description">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs product-description__tabs">
				    <li class="product-description__tabs_item active">
				    	<a href="#pane1" data-toggle="tab" class="product-description__tabs_a">Описание товара</a>
				    </li>
				    <li class="product-description__tabs_item">
				    	<a href="#pane2" data-toggle="tab" class="product-description__tabs_a pan111">Нанесение</a>
				    </li>
				  </ul><!-- / nav tabs for product-description -->

				  <!-- Tab panes -->
				  <div class="tab-content product-description__content">
				    <div class="tab-pane fade in active product-description__pane" id="pane1">
							<%=@product.description.html_safe%>
				    </div><!-- / pane1 -->
				    <div class="tab-pane fade product-description__pane" id="pane2">
							<%=@product.additional_description.html_safe%>
				    </div><!-- / pane2 -->
				  </div><!-- /.tab-content -->


				</section>

				<%if @complementary_products.count > 0 %>
				<section class="related-products">
					<h2 class="related-products__title">Вместе с этим товаром покупают:</h2>
					<div class="row">
						<%@complementary_products.each do |product|%>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<%=link_to product_path(product), class:'vertical-card__a' do%>
								  <div class="thumbnail vertical-card related-products__card">
								    <div class="vertical-card__img_wrap">
								     	<% c_main_image ||= product.product_images.main.first || product.product_images.first%>
                      <% c_hover_image = product.product_images.order("priority").second || product.product_images.first %>
                      <img src="<%=c_main_image.image.url %>" class="vertical-card__img" alt="ptoduct title">
                      <img src="<%= c_hover_image.image.url %>" class="vertical-card__img_secondary" alt="">
											<div class="card__type card__type_chalk" style="background-image:url(<%=product.mini_image.url%>);"></div>
								    </div>
								    <div class="caption">
											<div class="vertical-card__description"><%=product.title%></div>
											<div class="vertical-card__price_block">
						                        <%if product.price2%>
						                          <div class="vertical-card__price_discount"><%=product.price2%> руб</div>
						                        <%end%>
						                        <div class="vertical-card__price"><%=product.price%> руб</div>
					                      </div>
								    </div>
								  </div>
								<%end%>
							</div>
						<%end%>
					</div><!-- /.row -->
				</section><!-- /.related-products -->
				<%end%>

			</div><!-- /.right col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.product-page -->
