<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Decopaint</title> -->
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Decopaint
    </title>
    <meta name='title'
      content='<%= yield_meta_tag(:title, '') %>' />
      <meta name='description'
      content='<%= yield_meta_tag(:description, '') %>' />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <style>.offcanvas{display:none}</style>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR66H64');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body <%='class=back-slider-page' if @home_page%>>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MR66H64"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render "partials/form-ask" %>
    <%= render "partials/form-order" %>
  	<%= render "partials/offcanvas" %>
  	<%= render "partials/menu" %>

  	<div class="blur-page">


    <%= yield %>
    <%#= CategoryProduct.last.description2.html_safe%>
    <%= render "partials/footer" %>
    </div>

  </body>
</html>
