<!DOCTYPE html>
<html>
  <head>
    <title>Decopaint</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<%= render "partials/offcanvas" %>
	<%= render "partials/menu" %>

  	<div class="blur-page">


    <%= yield %>
    <%#= CategoryProduct.last.description2.html_safe%>
    <%= render "partials/footer" %>
    </div>

  </body>
</html>
