<!-- Сео поля -->
<% title @category_product.seo_title %>
<% meta_tag :title, @category_product.seo_title %>
<% meta_tag :description, @category_product.seo_description %>

<div class="overlay"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-3 left-menu__overlay">

		 <%= render "partials/left-menu" %>

		</div><!-- /.left col -->

		<div class="col-xs-12 col-sm-8 col-md-9">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 ">

					<h1 class="catalog__title"><%=@category_product.title%></h1>
					<div class="row">
						<div class="col-md-12">
							<div class="catalog__description">
								<%=@category_product.description.html_safe%>
							</div>
						</div>
					</div>

					<div class="row">
						<%@products.each do |product|%>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<%=link_to product_path(product) do %>
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<% main_image ||= product.product_images.main.first || product.product_images.first%>
							      	<% hover_image = product.product_images.order("priority").second || product.product_images.first %>
							      	<img src="<%=main_image.image.url %>" class="vertical-card__img" alt="ptoduct title">
							      	<img src="<%= hover_image.image.url %>" class="vertical-card__img_secondary" alt="">
									<div class="card__type card__type_chalk" style="background-image:url(<%=product.mini_image.url%>);">

									</div>
							      	</div>
							      <div class="caption">
											<div class="vertical-card__description">
												<%=product.title%>
											</div>
					            <div class="vertical-card__price_block">
					              <%if product.price2%>
				                  <div class="vertical-card__price_discount"><%=product.price2%> руб</div>
				                <%end%>
					              <div class="vertical-card__price"><%=product.price%> руб</div>
					            </div>
							      </div>
							    </div>
							<%end%>
						</div>
						<%end%>
					</div><!-- /.product cards row -->

					<!-- забыл пагинацию с макета и нижний текст, теперь есть, временно убрать -->
					<!-- <div class="catalog__pagination text-right">
						<ul class="custom-pagination">
						    <li class="active"><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						 </ul>
					</div> -->

					<div class="row">
						<div class="col-md-12">
							<div class="catalog__description_bottom">
								<%=@category_product.description2.html_safe%>
							</div>
						</div>
					</div>
					<!-- конец нового блока -->


				</div><!-- /.right col inner row -->
			</div>



		</div><!-- /.right col -->

	</div><!-- /.row -->

</div><!-- /.container -->


</div>
