
<div class="overlay"></div>

<div class="container">
	<div class="row">

		<div class="col-xs-6 col-sm-4 col-md-3 left-menu__overlay">

		 <%= render "partials/left-menu" %>

		</div><!-- /.left col -->

		<div class="col-xs-6 col-sm-8 col-md-9">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 ">

					<h1 class="catalog__title"><%=@category_product.title%></h1>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="catalog__descroption">
								<%=@category_product.description.html_safe%>
							</div>
						</div>
					</div>

					<div class="row">
						<%@products.each do |product|%>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<%=link_to product_path(product) do %>
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<!-- добавить какое-то другое изображение при наведении  -->
							      	<img src="<%= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<!-- убрать в css картинку, добавить через style 10 пункт -->
									<div class="card__type card__type_chalk">

									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										<%=product.title%>
									</div>
									<div class="vertical-card__price"><%=product.price%> руб</div>
							      </div>
							    </div>
							<%end%>
						</div>
						<%end%>
					</div><!-- /.product cards row -->

				</div><!-- /.right col inner row -->
			</div>



		</div><!-- /.right col -->

	</div><!-- /.row -->
	<!-- стилизовать, перенести в нужное место  -->
	<%=@category_product.description2.html_safe%>
</div><!-- /.container -->


</div>
